@charset "UTF-8";

// ***********************************************
//  Text
// ***********************************************
.text {
  &-uppercase {
    text-transform: uppercase;
  }

  &-color {
    &-accent {
      color: map-get($color-brand, "accent");
    }
  }
}

.section-title {
  position: relative;
  font-family: $ff-mono;
  font-weight: bold;
  font-size: 4.0rem;
  letter-spacing: 0.3em;

  // white-space: nowrap;

  @media #{$device-l} {
    padding-left: 530px;
    .first-letter{
      position: absolute;
      display: block;
      top: -23px;
      left: 0;
      font-size: 7.0rem;
      // margin-bottom: 110px;
      // margin-left: -1.5em;
    }
    .decoration-line{
      position: absolute;
      left: 50px;
      bottom: 11px;
      height: 12px;
      width: 405px;
      margin: 0 40px;
      span{
        position: absolute;
        display: block;
        width: 440px;
        height: 1px;
        background-color: #fff;
        &:nth-of-type(1){
          width: 90px;
          // top: 45px;
        }
        &:nth-of-type(2){
          width: 305px;
          top: 0;
          right: 0;
        }
        &:nth-of-type(3){
          width: 40px;
          bottom: 0;
          left: 50px;
        }
      }
    }
  }

  &:first-letter {

    @media #{$device-l} {
    }
  }
}

%mono {
  font-family: $ff-mono;
  letter-spacing: 0.2em;
}

%typewrite {
  &::after {
    content: "";
    position: relative;
    display: inline-block;
    height: 1.0em;
    width: 15px;
    border-bottom: 2px solid #fff;
    margin-bottom: 8px;
    vertical-align: bottom;
    animation: blink 1.3s linear none infinite;
  }
}
