
@mixin carousel($width, $height, $margin) {
  &-container {
    position: relative;
    overflow: hidden;
    height: $height + 65px;
    margin-top: 30px;
  }

  &-list {
    position: relative;
    // position: absolute;
    left: 63px;
    width: $width * 2 + $margin * 2;

    >li {
      float: left;
      width: $width;
      margin-right: 20px;
    }
  }

  &-box {
    color: #fff;
    text-decoration-line: none;

    time {
      display: block;
      margin-bottom: 15px;
      font-family: $ff-mono;
      font-size: 1.0rem;
    }

    img {
      width: $width;
      margin-bottom: 20px;
    }

    p {
      line-height: 2.0;
      font-size: 1.2rem;
      font-family: $ff;
    }
  }
}