@charset "UTF-8";

// ***********************************************
//  activity
// ***********************************************

#activity {
  margin-bottom: 100px;

  @media #{$device-l} {
  }

  .activity {
    &-title {
      margin: 0 45px;
      font-size: 2.0rem;
      font-weight: bold;

      @media #{$device-l} {
      }
    }

    @include carousel(230px, 200px, 20px);
  }

}